*.jar
*.swp
*.tgz
*.zip
.DS_Store
.cache-main
.metadata
.settings/
/output/
/target/
WEB-INF/
bin/
competition-log.*
do-it.sh
hs_err_pid*.log
mission*/target/
package.sh
src/main/resources/*
src/main/webapp-public/
