<!doctype html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <link href="display/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      #map {
/*           height: 100%; */
/*           width: 100%; */
             height:600px;
             width:800px;
      }
    </style>
  </head>
  <body>
    <h2 style="text-align: center;">2016 RoboBoat - Course Display</h2>
    
    <div ng-app="control">
      <div class="container" ng-controller="Status">
        <div class="col-md-2">
          <div class="row">
            <h4>courseA</h4>
          </div>
          <div class="row">
            <h6>Run information</h6>
            <ul>
              <li>Team: {{status.courseA.teamCode}}
              <li>Challenge: {{status.courseA.currentChallenge}}
              <li>Heartbeat: {{status.courseA.lastHeartbeat}}
            </ul>
          </div>
          <div class="row">
            <h6>Obstacle Avoidance</h6>
            <ul>
              <li>Requested code: {{status.courseA.requestedGateCode}}
              <li ng-show="status.courseA.requestedGateCode">Gate code: {{status.courseA.assignedGateCode.gateCode}}
              <li ng-hide="status.courseA.requestedGateCode">Gate code: **hidden**
            </ul>
          </div>
          <div class="row">
            <h6>Automated Docking</h6>
            <ul>
              <li>Requested seq: {{status.courseA.requestedDockingSequence}}
              <li ng-show="status.courseA.requestedDockingSequence">Dock sequence: {{status.courseA.dockingSequence.dockingBaySequence}}
              <li ng-hide="status.courseA.requestedDockingSequence">Dock sequence: **hidden**
            </ul>
          </div>
          <div class="row">
            <h6>Pinger Location</h6>
            <ul>
              <li>Reported pinger: {{status.courseA.reportedPinger}}
              <li ng-show="status.courseA.reportedPinger">Active pinger: {{status.courseA.activePinger.buoyColor}}
              <li ng-hide="status.courseA.reportedPinger">Active pinger: **hidden**
            </ul>
          </div>
        </div>
        
        <div class="col-md-7" ng-controller="MapCtrl">
          <div id="map"></div>
          <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
             <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
          </div>
        </div>
        
        <!-- Course B -->
        <div class="col-md-2">
          <div class="row">
            <h4>courseB</h4>
          </div>
          <div class="row">
            <h6>Run information</h6>
            <ul>
              <li>Team: {{status.courseB.teamCode}}
              <li>Challenge: {{status.courseB.currentChallenge}}
              <li>Heartbeat: {{status.courseB.lastHeartbeat}}
            </ul>
          </div>
          <div class="row">
            <h6>Obstacle Avoidance</h6>
            <ul>
              <li>Requested code: {{status.courseB.requestedGateCode}}
              <li ng-show="status.courseB.requestedGateCode">Gate code: {{status.courseB.assignedGateCode.gateCode}}
              <li ng-hide="status.courseB.requestedGateCode">Gate code: **hidden**
            </ul>
          </div>
          <div class="row">
            <h6>Automated Docking</h6>
            <ul>
              <li>Requested seq: {{status.courseB.requestedDockingSequence}}
              <li ng-show="status.courseB.requestedDockingSequence">Dock sequence: {{status.courseB.dockingSequence.dockingBaySequence}}
              <li ng-hide="status.courseB.requestedDockingSequence">Dock sequence: **hidden**
            </ul>
          </div>
          <div class="row">
            <h6>Pinger Location</h6>
            <ul>
              <li>Reported pinger: {{status.courseB.reportedPinger}}
              <li ng-show="status.courseB.reportedPinger">Active pinger: {{status.courseB.activePinger.buoyColor}}
              <li ng-hide="status.courseB.reportedPinger">Active pinger: **hidden**
            </ul>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <p>RoboBoat 2015</p>
    </footer>
    </div> <!-- /container -->
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9JAolnW7Wepz0hYoP3rAmRMfhFAK-w68"></script>
    <script type="text/javascript" src="display/angular.js"></script>
    <script type="text/javascript" src="display/angular-cookies.js"></script>
    <script type="text/javascript" src="display/angular-route.js"></script>
<!--    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-widget-4.0.min.js"> </script>   -->
<!--    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-0.4.js"> </script>  -->
    <script type="text/javascript" src="display/ui-bootstrap-tpls-0.11.0.js"></script>

    <script type="text/javascript" src="display/judging.js"></script>
    <script type="text/javascript" src="display/controllers.js"></script>
    <script type="text/javascript" src="display/scores.js"></script>
  </body>
</html>

      


