<!doctype html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <link href="lib/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <h2>2014 RoboBoat control panel</h2>
    
    <div ng-app="control">
      <!--
        <div ng-controller="RootCtrl">
            <input type="text" ng-model="data.message">
            <h1>{{data.message}}</h1>
            <div class="{{data.message}}">
                Wrap me in a foundation component
            </div>
            <span>Welcome {{user.name}}!</span>
            <h2>User info: {{user}}</h2>
        </div>
      
        <div ng-controller="LoginCtrl">
          <a href="" ng-click="login()">click to login</a>
        </div>
        <div ng-controller="LogoutCtrl">
          <a href="" ng-click="logout()">logout</a>
        </div>
      <div>
    -->
    
    
    
    <div class="container" ng-controller="Teams">
      <p>There are {{teams.length}} teams:</p>
      <!-- Example row of columns -->
      <div class="row">      
        <div class="col-md-6" ng-repeat="course in courses">
          <h2>{{course.name}}</h2>
          
          <div class="row">
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                Change team in the water <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="team in teams"><a ng-click="newTeamInWater(course, team); $scope.status.isopen=false">{{team}}</a></li>
              </ul>
            </div>
            Team selected: {{course.teamInWater}}
          </div> <!-- Team selection -->

          <div class="row">
            <button type="button" class="btn {{course.newRunButtonClass}}" ng-click="newRun(course, course.teamInWater)">Start run</button>
            <button type="button" class="btn {{course.endRunButtonClass}}" ng-click="endRun(course, course.teamInWater)">End run</button>
          </div> <!-- New run -->
          
          <div class="row">
            <div ng-hide="course.hideDebug">
              {{course.runSetup}}
            </div>
            <button type="button" class="btn btn-default" ng-click="hideDebug(course)">{{course.showText}} debug info</button>
          </div> <!-- Debug -->
          
          <div class="row">
            <h4>List of events</h4>
            
            
            <accordion close-others="oneAtATime">
              <accordion-group heading="{{run.team}}-{{run.start}}" is-open="course.expandedEvents[run.start]" ng-repeat="run in course.events">
                <div ng-repeat="event in run.events">
                  {{event.time}}: {{event.message}}
                </div>
              </accordion-group>
            </accordion>

          </div><!-- Logs -->
        </div>
      </div>

      <hr>

      <footer>
        <p>RoboBoat 2014</p>
      </footer>
    </div> <!-- /container -->

<!--    
    <div>
          <p>
              <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
              <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
          </p>

          <label class="checkbox">
              <input type="checkbox" ng-model="oneAtATime">
              Open only one at a time
          </label>
          <accordion close-others="oneAtATime">
              <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                  This content is straight in the template.
              </accordion-group>
              <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
                  {{group.content}}
              </accordion-group>
              <accordion-group heading="Dynamic Body Content">
                  <p>The body of the accordion group grows to fit the contents</p>
                  <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                  <div ng-repeat="item in items">{{item}}</div>
              </accordion-group>
              <accordion-group is-open="status.open">
                  <accordion-heading>
                      I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                  </accordion-heading>
                  This is just some content to illustrate fancy headings.
              </accordion-group>
          </accordion>
      </div>
  </div>
-->
    
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular-route.js"></script>
<!--    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-widget-4.0.min.js"> </script>   -->
<!--    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-0.4.js"> </script>  -->
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-0.11.0.js"></script>

    <script type="text/javascript" src="lib/judging.js"></script>
    <script type="text/javascript" src="lib/controllers.js"></script>
    <script type="text/javascript" src="lib/scores.js"></script>
  </body>
</html>

      


