<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
      <filter-name>CORS</filter-name>
      <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
      <init-param>
          <param-name>cors.allowOrigin</param-name>
          <param-value>*</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>CORS</filter-name>
      <servlet-name>static</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>static</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping> 
       <servlet-name>static</servlet-name> 
       <url-pattern>index.html</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
       <servlet-name>static</servlet-name> 
       <url-pattern>/lib/*</url-pattern> 
    </servlet-mapping>
    <servlet-mapping> 
       <servlet-name>static</servlet-name> 
       <url-pattern>/fonts/*</url-pattern> 
    </servlet-mapping>
    
    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.felixpageau.roboboat.mission2014.Mission2014ResourceConfig</param-value>
        </init-param>
<!--         <init-param> -->
<!--           <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name> -->
<!--           <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value> -->
<!--         </init-param> -->
<!--         <init-param> -->
<!--           <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name> -->
<!--           <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value> -->
<!--         </init-param> -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    

    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>RoboBoat</realm-name>
    </login-config>
    
    <session-config>
      <session-timeout>1400</session-timeout>
    </session-config>

    <security-role>
      <role-name>admin</role-name>
    </security-role>
    
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Admin</web-resource-name>
        <url-pattern>/index.html</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>admin</role-name>
      </auth-constraint>
    </security-constraint>
    
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Other</web-resource-name>
        <url-pattern>/admin/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
        <role-name>admin</role-name>
      </auth-constraint>
    </security-constraint>
    
    <security-constraint>
      <web-resource-collection>
        <web-resource-name>Other</web-resource-name>
        <url-pattern>/*</url-pattern>
      </web-resource-collection>
    </security-constraint>
</web-app>
